<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tax Planner</title>
 </head>
 <body>
   <h1>Tax Planner</h1>
   <form method="POST" action="/submit">
     {% for tab in categories %}
      {% for input_field in tab %}
      {{ input_field['field'] }}: <input type="{{ input_field['type'] }}" name="{{ input_field['name'] }}"><br>
      {% endfor %}
     {% endfor %}
     <input type="submit" value="Submit">
   </form>
   {% if data %}
    <p>{{ data }}</p>
   {% endif %}
 </body>
</html>
